.card-typography,
.shop-page-typography {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  vertical-align: middle;
}

.search-input {
  border: 1px solid #000000;
  border-radius: 0;
}

.search-input ::placeholder {
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #000000;
}

.filter-popup {
  display: flex;
  flex-direction: column;
  
}