/* Container bao trùm toàn bộ màn hình */
.login-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #01aeef 0%, #0093e9 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Roboto", sans-serif;
}

/* Logo container */
.login-header {
  margin-bottom: 50px;
  text-align: center;
}

.app-logo {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* Form container */
.login-form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
}

.custom-input ::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #a5a4a4;
}

.form-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  line-height: 22px;
  letter-spacing: 0px;
}

.ant-checkbox-wrapper {
  color: white !important;
}

.forgot-password {
  color: white;
  cursor: pointer;
}
.forgot-password:hover {
  text-decoration: underline;
}

/* Nút Đăng nhập */
.login-btn {
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid white !important;
  background: transparent !important;
  color: white !important;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}

/* Footer text */
.login-footer {
  margin-top: 92px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.login-footer-img {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  pointer-events: none;
  user-select: none;
}