.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout-typography {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.layout-header {
  width: 100%;
  height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c6e5f4;
  padding: 0px 23px 0px 37px;
}

.layout-header-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  color: #000000;
  margin-left: 28px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 18px 18px 17px;
}
